<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Bienvenidos!!!{% endblock %}</title>
        {% block stylesheets %}
        <!-- Latest compiled and minified CSS -->
             <link href="{{ asset('public/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
             <link href="{{ asset('public/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">

        <link rel="stylesheet" href="{{ asset('public/css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ asset('public/css/form-elements.css') }}">
       {# <link rel="stylesheet" href="{{ asset('public/css/style.css') }}">#}

        {% endblock %}
        {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
        <link rel="shortcut icon" href="{{ asset('public/ico/57x57.png')}}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('public/ico/144x144.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{asset('public/ico/114x114.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{asset('public/ico/72x72.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{asset('public/ico/57x57.png') }}">      
    </head>
    <body>
        {% block body %}
        {{include('menu.html.twig')}}
        {% endblock %}
        
        
        
        
        
        <footer>
           <p>T&eacutecnicamente 2016 - Sistema de Voto Electrónico - Desarrollado por <a href="#">Navarro Sergio Antonio</a>
            &copy; {{ 'now' | date('Y') }}</p>
        </footer>
        {% block javascripts %}
           <!-- Latest compiled and minified JavaScript -->
           <script src="{{ asset('public/js/jquery-3.1.0.min.js') }}"></script>
           <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>  
        {% endblock %}
    </body>
</html>
	