<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Bienvenidos!!!{% endblock %}</title>
        {% block stylesheets %}
        <!-- Latest compiled and minified CSS -->
             <link href="{{ asset('public/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
             <link href="{{ asset('public/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
      
    </head>
    <body>
        {% block body %}
        {{include('menu.html.twig')}}
        {% endblock %}
        {% block javascripts %}
           <!-- Latest compiled and minified JavaScript -->
           <script src="{{ asset('public/js/jquery-3.1.0.min.js') }}"></script>
           <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>  
        {% endblock %}
    </body>
</html>
	