<nav class="navbar navbar-default">
  <img src="{{ asset('public/img/imgtm1.jpg') }}" alt="..." class="img-responsive">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Menú</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{path('Logout')}}">Salir <span class="sr-only">(current)</span></a></li>
        {#<li><a href="#">Link</a></li>#}

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acreditación <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{path('IniciarProceso')}}">Iniciar</a></li>
            <li role="separator" class="divider"></li>
         </ul>
        </li>        

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Establecimiento <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{path('NuevoEstablecimiento')}}">Agregar</a></li>
            <li><a href="{{path('ListarEstablecimiento')}}">Modificar</a></li>
            <li role="separator" class="divider"></li>
            {#<li><a href="#">Habilitar</a></li>
            <li><a href="#">Boquear</a></li>#}
         </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuario <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{path('Default_SelecU')}}">Agregar</a></li>
            <li><a href="{{path('ListarUsuarios')}}">Modificar</a></li>
            <li role="separator" class="divider"></li>
         </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trabajo <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{path('NuevoTrabajo')}}">Agregar</a></li>
            <li><a href="{{path('ListarTrabajo')}}">Modificar</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{path('ActivarTrabajo')}}">Activar</a></li>
            <li><a href="{{path('DesactivarTrabajo')}}">Desactivar</a></li>            
            
         </ul>
        </li>        
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Presentaci&oacuten <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{path('NuevaPresentacion')}}">Agregar</a></li>
            <li><a href="{{path('ListarPresentacion')}}">Modificar</a></li>
            <li role="separator" class="divider"></li>
         </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tipo Viático <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{path('ActDesactViatico')}}">Activar/Desactivar</a></li>
            <li role="separator" class="divider"></li>
         </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{path('SeleccionarEst')}}">Reportes de Inscripciones</a></li>
            <li><a href="{{path('VerPresentacionesInscriptas')}}">Reporte de Inscripción Experiencia Pedagógica</a></li>
            <li><a href="{{path('SeleccionarNivel')}}">Resultados de Votos TécnicaMente</a></li>
            <li><a href="{{path('MostrarResultados')}}">Resultados de Votos Experiencia Pedagógica</a></li>
            <li><a href="{{path('MostrarHistorialTrab')}}">Historial de Votos Trabajos</a></li>
            <li><a href="{{path('MostrarHistorialPress')}}">Historial de Votos Presentaci&oacuten</a></li>
            <li><a href="{{path('VerEntregas')}}">Lista de entrega de Viáticos</a></li>
            <li><a href="{{path('VerAsistencia')}}">Listado de Asistencia a Presentaci&oacuten</a></li>
            <li role="separator" class="divider"></li>
         </ul>
        </li>        
        
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>