{% extends '::base.html.twig' %}
{% block title %}Viático Activar - Desactivar{% endblock %}
{% block body %}

<nav class="navbar navbar-default">
  <img src="{{ asset('public/img/imgtm1.jpg') }}" alt="..." class="img-responsive">
     		{% for flashMessage in app.session.flashbag.get('mensaje') %}
    	<span class="alert-danger">
        	{{ flashMessage }}
        	<hr />
    	</span>
    	{% endfor %}
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        
        <li class="active"><a href="{{path('Inicio')}}">Volver <span class="sr-only">(current)</span></a></li>
      </ul>
  </div>
</nav>

    <div class="table-responsive">
      <table class="table table-striped">
      <tr class="info">
        <th>Id</th>
        <th>Descripción</th>
        <th>Acción</th>
        
      </tr>
      {% for tvdes in tipoviatico %}
    {% if tvdes.isactive == 0 %}
      <tr class="info">
    {% else %}  
      <tr class="success">  
    {% endif %}
        <td>{{tvdes.id}}</td>
        <td>{{tvdes.desc}}</td>
        {% if tvdes.isactive == 0 %}
            <td><a href="{{path('ViaticoActivarDesactivar',{ 'id': tvdes.id})}}" class="btn btn-primary btn-lg enabled" role="button">Activar</a></td>
        {% else %}
            <td>Elemento Activo</td>
        {% endif %}
      </tr>
      {% endfor %}
      </table>
    </div>

{% endblock %}