{% extends '::base.html.twig' %}
{% block title %}Lista de Trabajos{% endblock %}
{% block body %}  
<nav class="navbar navbar-default">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
         <li class="active"><a href="{{path('LogoutSalir')}}">Salir <span class="sr-only">(current)</span></a></li>
      </ul>
  </div>
</nav>
   <div class="container-fluid">
   	<img src="{{ asset('public/img/imgtm1.jpg') }}" alt="..." class="img-responsive">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
			    
			{% for trab in trabajo %}
			{% if trab.niveltrab == 'cbs' %}
				<div class="col-md-4">
					<div class="alert  alert-info">
						{#<img class="img-thumbnail" alt="Bootstrap Thumbnail First" src="http://lorempixel.com/output/people-q-c-600-200-1.jpg">#}
						<div class="caption">
						    {#<h1 class="text-primary"> Thumbnail label </h1>#}
							{#<h2 class="text-primary"> Thumbnail label </h2>#}
							
							<h3 class="text-primary"> Establecimiento: {{trab.escuela.nombesc}} </h3>
							<h4 class="text-primary"> Nivel: Ciclo Básico del Secundario </h4>
							<h3 class="text-primary"> {{trab.nombproyecto}} </h3>
							<p>
								{{trab.descproyecto}}
							</p>
							<p>
								<a class="btn btn-primary" href="{{path('VotoTrabajo',{ 'id': trab.id})}}">Votar</a> 
							</p>
						</div>
					</div>
				</div>
			{% elseif trab.niveltrab == 'css' %}
				<div class="col-md-4">
					<div class="alert alert-success">
						{#<img class="img-thumbnail" alt="Bootstrap Thumbnail First" src="http://lorempixel.com/output/people-q-c-600-200-1.jpg">#}
						<div class="caption">
						    {#<h1 class="text-success"> Thumbnail label </h1>
							<h2 class="text-success"> Thumbnail label </h2>#}
							<h3 class="text-success"> Establecimiento: {{trab.escuela.nombesc}} </h3>
							<h4 class="text-success"> Nivel: Ciclo Superior del Secundario </h4>
							<h3 class="text-success"> {{trab.nombproyecto}} </h3>
							<p>
								{{trab.descproyecto}}
							</p>
							<p>
								<a class="btn btn-success" href="{{path('VotoTrabajo',{ 'id': trab.id})}}">Votar</a> 
							</p>
						</div>
					</div>
				</div>
			{% elseif trab.niveltrab == 'fp' %}
				<div class="col-md-4">
					<div class="alert alert-warning">
						{#<img class="img-thumbnail" alt="Bootstrap Thumbnail First" src="http://lorempixel.com/output/people-q-c-600-200-1.jpg">#}
						<div class="caption">
						    {#<h1 class="text-warning"> Thumbnail label </h1>
							<h2 class="text-warning"> Thumbnail label </h2>#}
							<h3 class="text-warning"> Establecimiento: {{trab.escuela.nombesc}} </h3>
							<h4 class="text-warning"> Nivel: Formación Profesional </h4>
							<h3 class="text-warning"> {{trab.nombproyecto}} </h3>
							<p>
								{{trab.descproyecto}}
							</p>
							<p>
								<a class="btn btn-warning" href="{{path('VotoTrabajo',{ 'id': trab.id})}}">Votar</a> 
							</p>
						</div>
					</div>
				</div>	
			{% elseif trab.niveltrab == 'ts' %}
				<div class="col-md-4">
					<div class="alert alert-danger">
						{#<img class="img-thumbnail" alt="Bootstrap Thumbnail First" src="http://lorempixel.com/output/people-q-c-600-200-1.jpg">#}
						<div class="caption">
						    {#<h1 class="text-danger"> Thumbnail label </h1>
							<h2 class="text-danger"> Thumbnail label </h2>#}
							<h3 class="text-danger"> Establecimiento: {{trab.escuela.nombesc}} </h3>
							<h4 class="text-danger"> Nivel:  Técnico Superior</h4>
							<h3 class="text-danger"> {{trab.nombproyecto}} </h3>
							<p>
								{{trab.descproyecto}}
							</p>
							<p>
								<a class="btn btn-danger" href="{{path('VotoTrabajo',{ 'id': trab.id})}}">Votar</a> 
							</p>
						</div>
					</div>
				</div>
			{% endif %}
            {% endfor %}


			</div>
		</div>
	</div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>

{% endblock %}