{% extends '::base.html.twig' %}
{% block title %}Ver Trabajo{% endblock %}
{% block body %}  
   <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
			    
			{% if trab.niveltrab == 'cbs' %}
				<div class="col-md-4">
					<div class="alert  alert-info">
						{#<img class="img-thumbnail" alt="Bootstrap Thumbnail First" src="http://lorempixel.com/output/people-q-c-600-200-1.jpg">#}
						<div class="caption">
						    {#<h1 class="text-primary"> Thumbnail label </h1>#}
							{#<h2 class="text-primary"> Thumbnail label </h2>#}
							
							<h3 class="text-primary"> Establecimiento: {{trab.escuela.nombesc}} </h3>
							<h4 class="text-primary"> Nivel: Ciclo Básico del Secundario </h4>
							<h3 class="text-primary"> {{trab.nombproyecto}} </h3>
							<p>
								{{trab.descproyecto}}
							</p>

						</div>
						
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3> Iniciar Sessión </h3>
                            		<p>ingrese D.N.I. y contrase&ntildea para ver y votar un trabajo:</p>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="{#{path('IniciarSelecdeTrabajo')}#}" method="post" class="login-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-username">D.N.I.:</label>
			                        	<input type="text" name="dni" placeholder="D.N.I..." class="form-username form-control" id="form-username">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Contrase&ntildea:</label>
			                        	<input type="password" name="password" placeholder="Contraseña..." class="form-password form-control" id="form-password">
			                        </div>
			                        <div class="form-group">
                                        <div class="col-md-4">
                                            <button id="singlebutton" name="confirmarvoto" value="Confirmar" class="btn btn-primary">Confirmar</button>
                                         </div>
                                    </div>
			                    </form>
		                    </div>						
					</div>
				</div>
			{% elseif trab.niveltrab == 'css' %}
				<div class="col-md-4">
					<div class="alert alert-success">
						{#<img class="img-thumbnail" alt="Bootstrap Thumbnail First" src="http://lorempixel.com/output/people-q-c-600-200-1.jpg">#}
						<div class="caption">
						    {#<h1 class="text-success"> Thumbnail label </h1>
							<h2 class="text-success"> Thumbnail label </h2>#}
							<h3 class="text-success"> Establecimiento: {{trab.escuela.nombesc}} </h3>
							<h4 class="text-success"> Nivel: Ciclo Superior del Secundario </h4>
							<h3 class="text-success"> {{trab.nombproyecto}} </h3>
							<p>
								{{trab.descproyecto}}
							</p>

						</div>
						
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3> Iniciar Sessión </h3>
                            		<p>ingrese D.N.I. y contrase&ntildea para ver y votar un trabajo:</p>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="{#{path('IniciarSelecdeTrabajo')}#}" method="post" class="login-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-username">D.N.I.:</label>
			                        	<input type="text" name="dni" placeholder="D.N.I..." class="form-username form-control" id="form-username">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Contrase&ntildea:</label>
			                        	<input type="password" name="password" placeholder="Contraseña..." class="form-password form-control" id="form-password">
			                        </div>
			                        <div class="form-group">
                                        <div class="col-md-4">
                                            <button id="singlebutton" name="confirmarvoto" value="Confirmar" class="btn btn-success">Confirmar</button>
                                         </div>
                                    </div>
			                    </form>
		                    </div>						
						
					</div>
				</div>
			{% elseif trab.niveltrab == 'fp' %}
				<div class="col-md-4">
					<div class="alert alert-warning">
						{#<img class="img-thumbnail" alt="Bootstrap Thumbnail First" src="http://lorempixel.com/output/people-q-c-600-200-1.jpg">#}
						<div class="caption">
						    {#<h1 class="text-warning"> Thumbnail label </h1>
							<h2 class="text-warning"> Thumbnail label </h2>#}
							<h3 class="text-warning"> Establecimiento: {{trab.escuela.nombesc}} </h3>
							<h4 class="text-warning"> Nivel: Formación Profesional </h4>
							<h3 class="text-warning"> {{trab.nombproyecto}} </h3>
							<p>
								{{trab.descproyecto}}
							</p>

						</div>
						
						                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3> Iniciar Sessión </h3>
                            		<p>ingrese D.N.I. y contrase&ntildea para ver y votar un trabajo:</p>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="{#{path('IniciarSelecdeTrabajo')}#}" method="post" class="login-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-username">D.N.I.:</label>
			                        	<input type="text" name="dni" placeholder="D.N.I..." class="form-username form-control" id="form-username">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Contrase&ntildea:</label>
			                        	<input type="password" name="password" placeholder="Contraseña..." class="form-password form-control" id="form-password">
			                        </div>
			                        <div class="form-group">
                                        <div class="col-md-4">
                                            <button id="singlebutton" name="confirmarvoto" value="Confirmar" class="btn btn-warning">Confirmar</button>
                                         </div>
                                    </div>
			                    </form>
		                    </div>
					</div>
				</div>	
			{% elseif trab.niveltrab == 'ts' %}
				<div class="col-md-4">
					<div class="alert alert-danger">
						{#<img class="img-thumbnail" alt="Bootstrap Thumbnail First" src="http://lorempixel.com/output/people-q-c-600-200-1.jpg">#}
						<div class="caption">
						    {#<h1 class="text-danger"> Thumbnail label </h1>
							<h2 class="text-danger"> Thumbnail label </h2>#}
							<h3 class="text-danger"> Establecimiento: {{trab.escuela.nombesc}} </h3>
							<h4 class="text-danger"> Nivel:  Técnico Superior</h4>
							<h3 class="text-danger"> {{trab.nombproyecto}} </h3>
							<p>
								{{trab.descproyecto}}
							</p>

						</div>
						
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3> Iniciar Sessión </h3>
                            		<p>ingrese D.N.I. y contrase&ntildea para ver y votar un trabajo:</p>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="{#{path('IniciarSelecdeTrabajo')}#}" method="post" class="login-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-username">D.N.I.:</label>
			                        	<input type="text" name="dni" placeholder="D.N.I..." class="form-username form-control" id="form-username">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Contrase&ntildea:</label>
			                        	<input type="password" name="password" placeholder="Contraseña..." class="form-password form-control" id="form-password">
			                        </div>
			                        <div class="form-group">
                                        <div class="col-md-4">
                                            <button id="singlebutton" name="confirmarvoto" value="Confirmar" class="btn btn-danger">Confirmar</button>
                                         </div>
                                    </div>
			                    </form>
		                    </div>						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
					</div>
				</div>
			{% endif %}
                        <div class="col-md-4">

                        </div>
                        
                    </div>


			</div>
		</div>
	</div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>

{% endblock %}