{% extends '::base.html.twig' %}
{% block title %}Bienvenido a TECNICAMENTE 2016!!!{% endblock %}
{% block body %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{path('SeleccionarNivel')}}">Volver <span class="sr-only">(current)</span></a></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>

<section class="Container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>TécnicaMente 2016</h3>
				</div>
				<div class="panel-body">
				    <h3>Escuela</h3>
                    <table class="table table-hover">
                            <tr class="danger">
                                <th>Cue</th>
                                <th>Nombre Establecimineto</th>
                                <th>Jurisdicción</th>
                                <th>Departamento</th>
                                <th>Localidad</th>
                                <th>Domicilio</th>
                                <th>Teléfono</th>
                                <th>Correo Electrónico</th>
                                <th>Ámbito de Gestión</th>
                            </tr>
                            <tr class="danger">
                                <th>{{escuela.cue}}</th>
                                <th>{{escuela.nombesc}}</th>
                                <th>{{escuela.jurisdiccion}}</th>
                                <th>{{escuela.departamento}}</th>
                                <th>{{escuela.localidad}}</th>
                                <th>{{escuela.domicilio}}</th>
                                <th>{{escuela.telefono}}</th>
                                <th>{{escuela.emailesc}}</th>
                                <th>{{escuela.ambitogestion}}</th>
                            </tr>                            
                    </table>				
				</div>
				
				<div class="panel-body">
				    <h3>Directivo</h3>
                    <table class="table table-hover">
                            <tr class="danger">
                                <th>D.N.I.</th>
                                <th>apellido</th>
                                <th>Nombre</th>
                                <th>Cargo</th>
                                <th>Correo Electrónico</th>
                                <th>Nro. de contacto</th>
                            </tr>
                            <tr class="danger">
                                <th>{{directivo.dni}}</th>
                                <th>{{directivo.apellido}}</th>
                                <th>{{directivo.nombre}}</th>
                                <th>{{directivo.cargo}}</th>
                                <th>{{directivo.emaild}}</th>
                                <th>{{directivo.teld}}</th>
                            </tr>                            
                        {#% for trab in trabajo %}
                            <tr class="danger">
                                <td>{{trab.nombproyecto}}</td>
                                <td>{{trab.escuela.nombesc}}</td>
                                <td>{{trab.cantvoto}}</td>
                            </tr>
                        {% endfor %#}
                    </table>				
				</div>	
				
				<div class="panel-body">
				    {% for trab in trabajo %}
				    <h3>Trabajo</h3>
                    <table class="table table-hover">
                            <tr class="danger">
                                <th>Nombre Proyecto</th>
                                <th>Nivel</th>
                            </tr>
                        
                            <tr class="danger">
                                <td>{{trab.nombproyecto}}</td>
                                <td>{{trab.niveltrab}}</td>
                            </tr>
                            <tr class="info">    
                                <td><h3>Encargado</h3></td>
                            </tr>
                            <tr class="info">
                                <th>D.N.I.</th>
                                <th>apellido</th>
                                <th>Nombre</th>
                                <th>Materia que Dicta</th>
                                <th>Correo Electrónico</th>
                                <th>Teléfono</th>
                            </tr>
                            <tr class="info">
                                <td>{{trab.encargado.dni}}</td>
                                <td>{{trab.encargado.apellido}}</td>
                                <td>{{trab.encargado.nombre}}</td>
                                <td>{{trab.encargado.materiadic}}</td>
                                <td>{{trab.encargado.emaile}}</td>
                                <td>{{trab.encargado.tele}}</td>
                            </tr>
                            <tr class="success">    
                                <td><h3>Alumnos</h3></td>
                            </tr>
                            <tr class="success">
                                <th>D.N.I.</th>
                                <th>apellido</th>
                                <th>Nombre</th>
                            </tr>
                            {% for est in estudiante %}
                                {% if est.trabajo.id == trab.id %}
                                    <tr class="success">
                                        <td>{{est.dni}}</td>
                                        <td>{{est.apellido}}</td>
                                        <td>{{est.nombre}}</td>
                                    </tr>
                                {%endif%}
                            {% endfor %}
                    </table>
                    {% endfor %}
				</div>				
				
				
				
				
				
				
			</div>
		</div>
	</div>
</section>

<footer>
   <p>T&eacutecnicamente 2016 - Sistema de Votaci&oacuten - Creado por <a href="#">Navarro Sergio Antonio</a>
        &copy; {{ 'now' | date('Y') }}</p>
</footer>

{% endblock %}