{% extends '::base.html.twig' %}
{% block title %}TECNICAMENTE 2016!!!{% endblock %}
{% block body %}

<nav class="navbar navbar-default">
    <img src="{{ asset('public/img/imgtm1.jpg') }}" alt="..." class="img-responsive">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{path('SeleccionarNivel')}}">Volver <span class="sr-only">(current)</span></a></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>

<section class="Container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>TécnicaMente 2016</h3>
				</div>
				<div class="panel-body">
				    <h3>Resultados</h3>
                    <table class="table table-hover">
                            <tr class="danger">
                                <th>Stand</th>
                                <th>Nombre Proyecto</th>
                                <th>Jurisdicción</th>
                                <th>Establecimineto</th>
                                <th>Cantidad de Votos</th>
                                
                            </tr>
                        {% for trab in trabajo %}
                            <tr class="danger">
                                <td>{{trab.stand}}</td>
                                <td>{{trab.nombproyecto}}</td>
                                <td>{{trab.escuela.jurisdiccion}}</td>
                                <td>{{trab.escuela.nombesc}}</td>
                                <td>{{trab.cantvoto}}</td>
         
                            </tr>
                        {% endfor %}
                    </table>				
				</div>
			</div>
		</div>
	</div>
</section>




<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div id="contemodal" class="modal-content">
      ...
    </div>
  </div>
</div>
{% endblock %}