{% extends '::base.html.twig' %}
{% block title %}Agregar Trabajo{% endblock %}
{% block body %}

<nav class="navbar navbar-default">
  <img src="{{ asset('public/img/imgtm1.jpg') }}" alt="..." class="img-responsive">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{path('Inicio')}}">Volver <span class="sr-only">(current)</span></a></li>
      </ul>
  </div>
</nav>
<div class="container">
     <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
<form action="{{ path('AgregarTrabajo') }}" method="post" class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Ingresar datos Trabajo</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="nombproyecto">Nombre Proyecto:</label>  
  <div class="col-md-8">
  <input id="nombproyecto" name="nombproyecto" placeholder="Ingrese Nombre Proyecto" class="form-control input-md" required="" type="text">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="descproyecto">Descripci&oacuten:</label>
  <div class="col-md-8">                     
    <textarea class="form-control" id="descproyecto" name="descproyecto"></textarea>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="pavproyecto">Presentaci&oacuten Audio Visual:</label>  
  <div class="col-md-8">
  <input id="pavproyecto" name="pavproyecto" class="form-control input-md" required="" type="text">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="dpwproyecto">Direcci&oacuten P&aacutegina Web:</label>  
  <div class="col-md-8">
  <input id="dpwproyecto" name="dpwproyecto" placeholder="Ingrese Dirección Pátegina Web" class="form-control input-md" required="" type="text">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="aemproyecto">Archivo enviado por mail:</label>  
  <div class="col-md-8">
  <input id="aemproyecto" name="aemproyecto" placeholder="Ingrese Archivo enviado por mail" class="form-control input-md" required="" type="text" >
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="encargado">Encargado:</label>
  <div class="col-md-8">
    <select id="encargado" name="encargado" class="form-control">
      <option value="0">Seleccionar Opción</option>
      {% for enc in encargado %}
      <option value="{{enc.dni}}">{{enc.dni}} - {{enc.apellido}}, {{enc.nombre}}</option>
      {% endfor %}
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="establecimiento">Establecimiento:</label>
  <div class="col-md-8">
    <select id="establecimiento" name="establecimiento" class="form-control">
      <option value="0">Seleccionar Opción</option>
      {% for esc in escuela %}
      <option value="{{esc.id}}">{{esc.nombesc}}</option>
      {% endfor %}
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="nivel">Nivel:</label>
  <div class="col-md-8">
    <select id="nivel" name="nivel" class="form-control">
      <option value="0">Seleccionar Opción</option>
      <option value="cbs">Ciclo B&aacutesico Secundaria</option>
      <option value="css">Ciclo Superior Secundaria</option>
      <option value="fp">Formaci&oacuten Profesional</option>
      <option value="ts">Tecnicaturas Superiores</option>
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Aceptar</button>
  </div>
</div>

</fieldset>
</form>
          </div> 
          <div class="col-md-4">
          </div>
    </div>
</div> 

{% endblock %}