{% extends '::base.html.twig' %}
{% block title %}Bienvenido a TECNICAMENTE 2016!!!{% endblock %}
{% block body %}

<nav class="navbar navbar-default">
    <img src="{{ asset('public/img/imgtm1.jpg') }}" alt="..." class="img-responsive">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{path('IniciarProcesoAcreditacion')}}">Volver <span class="sr-only">(current)</span></a></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
     {#<div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">#}
         {% set i = 1%}  {#% set i = i + 1 %#}
<form action="#{#{ path('GuardarModificacion',{'dni': encargado.dni, 'tv': encargado.tipovot }) }#}" method="post" class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Formulario de Acreditación</legend>



<div class="form-group">
  <label class="col-md-4 control-label" for="checkboxes">Directivo</label>
  <div class="col-md-8">
  <div class="checkbox">
    <label for="check-{{i}}">
      <input name="acreditacion" id="check-{{i}}" value="{{directivo.dni}}" type="checkbox">
          {{directivo.dni}} - {{directivo.apellido}}, {{directivo.nombre}}---{{i}}
    </label>
	</div>
	
    	{% set j = 1%}
	    {% for trab in trabajo %}
     {% set i = i + 1 %}
     <div class="col-md-8">
        <label class="col-md-4 control-label" for="checkboxes">Trabajo N° {{j}}</label>
        <div class="checkbox">
            <label for="check-{{i}}">
                <input name="acreditacion" id="check-{{i}}" value="{{trab.id}}" type="checkbox">
                  {{trab.id}} - {{trab.nombproyecto}} {{trab.niveltrab}}---{{i}}
            </label>
	     </div>
	  </div>

    {% set i = i + 1 %}
     <div class="col-md-8">
        <label class="col-md-4 control-label" for="checkboxes">Trabajo N° {{j}}</label>
        <div class="checkbox">
            <label for="check-{{i}}">
                <input name="acreditacion" id="check-{{i}}" value="{{trab.encargado.dni}}" type="checkbox">
                  {{trab.encargado.dni}} - {{trab.encargado.apellido}} {{trab.encargado.nombre}}---{{i}}
            </label>
	     </div>
	  </div>	  
	  
	  
	  
	  
	   {% set j = j + 1 %}
	{% endfor%}
	
	
  </div>
</div>


  


<!-- Button -->
<div class="form-group">
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Acreditar</button>
  </div>
</div>

</fieldset>
</form>
{#          </div> 
          <div class="col-md-4">
          </div>
    </div>#}
</div> 



{% endblock %}