{% extends '::base.html.twig' %}
{% block title %}Bienvenido a TECNICAMENTE 2016!!!{% endblock %}
{% block body %}

<nav class="navbar navbar-default">
    <img src="{{ asset('public/img/imgtm1.jpg') }}" alt="..." class="img-responsive">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{path('IniciarProcesoAcreditacion')}}">Volver <span class="sr-only">(current)</span></a></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
    	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>TécnicaMente 2016</h3>
				</div>
				<div class="panel-body">
				    <h3>Establecimineto</h3>
                    <table class="table table-hover">
                            <tr class="danger">
                                <th>Cue</th>
                                <th>Nombre Establecimineto</th>
                                <th>Jurisdicción</th>
                                <th>Departamento</th>
                                <th>Localidad</th>
                                <th>Domicilio</th>
                                <th>Teléfono</th>
                                <th>Correo Electrónico</th>
                                <th>Ámbito de Gestión</th>
                            </tr>
                            <tr class="info">
                                <th>{{escuela.cue}}</th>
                                <th>{{escuela.nombesc}}</th>
                                <th>{{escuela.jurisdiccion}}</th>
                                <th>{{escuela.departamento}}</th>
                                <th>{{escuela.localidad}}</th>
                                <th>{{escuela.domicilio}}</th>
                                <th>{{escuela.telefono}}</th>
                                <th>{{escuela.emailesc}}</th>
                                <th>{{escuela.ambitogestion}}</th>
                            </tr>                            
                    </table>				
				</div>
			</div>
		</div>
	</div>
    
    
    
         {% set i = 1%}
<form action="{{ path('ConfirmarAcreditacion') }}" method="post" class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Formulario de Acreditación</legend>

<div class="form-group">
  <label class="col-md-4 control-label" for="checkboxes">Directivo</label>
  <div class="col-md-8">
  <div class="checkbox">
    <label for="check-{{i}}">
      <input name="acreditacion[]" id="check-{{i}}" value="d-{{directivo.dni}}" type="checkbox"
      {% if directivo.isActive == 1 %} checked="checked" readonly="readonly"{%endif%}>
          {{directivo.dni}} - {{directivo.apellido}}, {{directivo.nombre}}---{{i}}
    </label>
	</div>
	</div>
	<HR NOSHADE WIDTH=400 SIZE=4>
    	{% set j = 1%}
	    {% for trab in trabajo %}
     {% set i = i + 1 %}
     <label class="col-md-4 control-label" for="checkboxes">Trabajo N° {{j}}</label>
     <div class="col-md-8">
        
        <div class="checkbox">
            <label for="check-{{i}}">
                <input name="acreditacion[]" id="check-{{i}}" value="t-{{trab.id}}" type="checkbox" 
                {% if trab.isActive == 1 %} checked="checked" readonly="readonly"{%endif%}>
                  {{trab.id}} - {{trab.nombproyecto}} {{trab.niveltrab}}---{{i}}
            </label>
	     </div>
	  </div>

    {% set i = i + 1 %}
    <label class="col-md-4 control-label" for="checkboxes">Docente Responsable</label>
     <div class="col-md-8">
        
        <div class="checkbox">
            <label for="check-{{i}}">
                <input name="acreditacion[]" id="check-{{i}}" value="en-{{trab.encargado.dni}}" type="checkbox"
                {% if trab.encargado.isActive == 1 %} checked="checked" readonly="readonly"{%endif%}>
                  {{trab.encargado.dni}} - {{trab.encargado.apellido}} {{trab.encargado.nombre}}---{{i}}
            </label>
	     </div>
	  </div>	  
	  {% for est in estudiante %}
     
     {% if est.trabajo.id == trab.id%}
     {% set i = i + 1 %}
     <label class="col-md-4 control-label" for="checkboxes">Alumnos</label>
     <div class="col-md-8">
        
        <div class="checkbox">
            <label for="check-{{i}}">
                <input name="acreditacion[]" id="check-{{i}}" value="es-{{est.dni}}" type="checkbox"
                {% if est.isActive == 1 %} checked="checked" readonly="readonly"{%endif%}>
                  {{est.dni}} - {{est.apellido}} {{est.nombre}}---{{i}}
            </label>
	     </div>
	   </div>
	   {%endif%}
	  {% endfor%}
	  {% set j = j + 1 %}
	  	<HR NOSHADE WIDTH=400 SIZE=4>
	{% endfor%}
  
</div>

<!-- Button -->
<div class="form-group">
  <div class="col-md-8">
  
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Acreditar</button>

  </div>
</div>

</fieldset>
</form>
{#          </div> 
          <div class="col-md-4">
          </div>
    </div>#}
</div> 



{% endblock %}