{% extends '::base.html.twig' %}
{% block title %}Modificar Trabajo{% endblock %}
{% block body %}

<nav class="navbar navbar-default">
  <img src="{{ asset('public/img/imgtm1.jpg') }}" alt="..." class="img-responsive">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{path('VolverAcreditacion',{'id':ide})}}">Volver <span class="sr-only">(current)</span></a></li>
      </ul>
  </div>
</nav>
<div class="container">
     <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
<form action="{{ path('GuardarDTM',{'idt': trabajo.id, 'ide': idescuela}) }}" method="post" class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Ingresar datos Trabajo</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="nombproyecto">Nombre Proyecto:</label>  
  <div class="col-md-8">
  <input id="nombproyecto" name="nombproyecto" class="form-control input-md" required="" type="text" value="{{trabajo.nombproyecto}}">
  </div>
</div>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="stand">Número de Stand:</label>  
  <div class="col-md-8">
  <input id="stand" name="stand" placeholder="Ingrese número de Stand" class="form-control input-md" required="" type="text" value="{{trabajo.stand}}">
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="encargado">Encargado:</label>
  <div class="col-md-8">
    <select id="encargado" name="encargado" class="form-control">
      <option value="{{dnienc}}">{{dnienc}} - {{aynenc}}</option>
      {% for enc in encargado %}
        {% if enc.dni != dnienc %}
          <option value="{{enc.dni}}">{{enc.dni}} - {{enc.apellido}}, {{enc.nombre}}</option>
        {% endif%}
      {% endfor %}
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="establecimiento">Establecimiento:</label>
  <div class="col-md-8">
    <select id="establecimiento" name="establecimiento" class="form-control">
      <option value="{{idescuela}}">{{nombreescuela}}</option>
      {% for esc in escuela %}
        {% if esc.id != idescuela %}
          <option value="{{esc.id}}">{{esc.nombesc}}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Aceptar</button>
  </div>
</div>

</fieldset>
</form>
          </div> 
          <div class="col-md-4">
          </div>
    </div>
</div> 

{% endblock %}