{% extends '::base.html.twig' %}
{% block title %}Lista de Usuarios{% endblock %}
{% block body %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        
        <li class="active"><a href="{{path('Inicio')}}">Volver <span class="sr-only">(current)</span></a></li>
      </ul>
  </div>
</nav>

    <div class="table-responsive">
      <table class="table table-striped">
      <tr>
        <th>D.N.I.</th>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Tipo Usuairo</th>
        <th>Acción</th>
        
      </tr>
      {% if contd != 0 %}
        {% for direc in directivo %}
            <tr>
                <td>{{direc.dni}}</td>
                <td>{{direc.nombre}}</td>
                <td>{{direc.apellido}}</td>
                <td>{{direc.tipovot}}</td>
                <td><a href="{{path('MostrarUsuario',{ 'id': direc.dni})}}" class="btn btn-primary btn-lg enabled" role="button">Modificar</a></td>
             </tr>
        {% endfor %}
      {% endif%}

      {% if contenc != 0 %}
        {% for enc in encargado %}
            <tr>
                <td>{{enc.dni}}</td>
                <td>{{enc.nombre}}</td>
                <td>{{enc.apellido}}</td>
                <td>{{enc.tipovot}}</td>
                <td><a href="{{path('MostrarUsuario',{ 'dni': enc.dni})}}" class="btn btn-primary btn-lg enabled" role="button">Modificar</a></td>
             </tr>
        {% endfor %}
      {% endif%}
      
      {% if contdoc != 0 %}
        {% for doc in docente %}
            <tr>
                <td>{{doc.dni}}</td>
                <td>{{doc.nombre}}</td>
                <td>{{doc.apellido}}</td>
                <td>{{doc.tipovot}}</td>
                <td><a href="{{path('MostrarUsuario',{ 'id': doc.dni})}}" class="btn btn-primary btn-lg enabled" role="button">Modificar</a></td>
             </tr>
        {% endfor %}
      {% endif%}
      
      {% if contes != 0 %}
        {% for est in estudiante %}
            <tr>
                <td>{{est.dni}}</td>
                <td>{{est.nombre}}</td>
                <td>{{est.apellido}}</td>
                <td>{{est.tipovot}}</td>
                <td><a href="{{path('MostrarUsuario',{ 'id': est.dni})}}" class="btn btn-primary btn-lg enabled" role="button">Modificar</a></td>
             </tr>
        {% endfor %}
      {% endif%}
      
      {% if contc != 0 %}
        {% for cope in copetyp %}
            <tr>
                <td>{{cope.dni}}</td>
                <td>{{cope.nombre}}</td>
                <td>{{cope.apellido}}</td>
                <td>{{cope.tipovot}}</td>
                <td><a href="{{path('MostrarUsuario',{ 'id': cope.dni})}}" class="btn btn-primary btn-lg enabled" role="button">Modificar</a></td>
             </tr>
        {% endfor %}
      {% endif%}      
      </table>
    </div>



<footer>
   <p>T&eacutecnicamente 2016 - Sistema de Votaci&oacuten - Creado por <a href="https://github.com/dsyph3r">Navarro Sergio Antonio</a>
        &copy; {{ 'now' | date('Y') }}</p>
</footer>
{% endblock %}