{% extends '::base.html.twig' %}
{% block title %}Agregar Usuario{% endblock %}
{% block body %}

<nav class="navbar navbar-default">
  <img src="{{ asset('public/img/imgtm1.jpg') }}" alt="..." class="img-responsive">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{path('Inicio')}}">Volver <span class="sr-only">(current)</span></a></li>
      </ul>
  </div>
</nav>
<div class="container">
     <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
<form action="{{ path('GuardarUsuario') }}" method="post" class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Ingresar datos del Integrante del COPETyP</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="dni">D.N.I.:</label>  
  <div class="col-md-8">
  <input id="dni" name="dni" placeholder="ingrese DNI" class="form-control input-md" required="" type="text" value="{{datosusuario.dni}}">
  <span class="help-block label-info">{{msj}} ej.: 26587458</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="nombre">Nombre:</label>  
  <div class="col-md-8">
  <input id="nombre" name="nombre" placeholder="ingrese nombre" class="form-control input-md" required="" type="text" value="{{datosusuario.nombre}}">
  <span class="help-block">ej.: Pedro A.</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="apellido">Apellido:</label>  
  <div class="col-md-8">
  <input id="apellido" name="apellido" placeholder="ingrese apellido" class="form-control input-md" required="" type="text" value="{{datosusuario.apellido}}">
  <span class="help-block">ej.: López</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="tipovotante">Tipo de Votante:</label>  
  <div class="col-md-8">
  <input id="tipovotante" name="tipovotante" class="form-control input-md" required="" type="text" value="{{datosusuario.tv}}" readonly="readonly">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="cargocop">Cargo:</label>  
  <div class="col-md-8">
  <input id="cargocop" name="cargocop" placeholder="ingresar cargo" class="form-control input-md" required="" type="text" value="{{datosusuario.cargo}}">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="telcop">Teléfono:</label>  
  <div class="col-md-8">
  <input id="telcop" name="telcop" placeholder="ingrese telefono" class="form-control input-md" required="" type="text" value="{{datosusuario.tel}}">
  <span class="help-block">ej.: 379-4457189</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="emailcop">Email:</label>  
  <div class="col-md-8">
  <input id="emailcop" name="emailcop" placeholder="ingrese Email" class="form-control input-md" required="" type="text" value="{{datosusuario.email}}">
  <span class="help-block">ej.: pablo2314@hotmail.com</span>  
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Aceptar</button>
  </div>
</div>

</fieldset>
</form>
          </div> 
          <div class="col-md-4">
          </div>
    </div>
</div> 

{% endblock %}