{% extends '::base.html.twig' %}
{% block title %}Agregar Establecimiento{% endblock %}
{% block body %}

<nav class="navbar navbar-default">
  <img src="{{ asset('public/img/imgtm1.jpg') }}" alt="..." class="img-responsive">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{path('Inicio')}}">Volver <span class="sr-only">(current)</span></a></li>
      </ul>
  </div>
</nav>
<div class="container">
     <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
<form action="{{ path('AgregarEstablecimiento') }}" method="post" class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Ingresar datos Establecimiento</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="cue">C.U.E.:</label>  
  <div class="col-md-8">
  <input id="cue" name="cue" placeholder="ingrese C.U.E." class="form-control input-md" required="" type="text">
  <span class="help-block">ej.: 169139800</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="nombesc">Nombre Establecimiento:</label>  
  <div class="col-md-8">
  <input id="nombesc" name="nombesc" placeholder="ingrese nombre del establecimiento" class="form-control input-md" required="" type="text">
  <span class="help-block">ej.: Escuela Técnica "Pedro Ferré"</span>  
  </div>
</div>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="jurisdiccion">Jurisdicción:</label>
  <div class="col-md-8">
    <select id="jurisdiccion" name="jurisdiccion" class="form-control">
      <option value="0">Seleccionar Jurisdicción</option>
      {% for juris in jurisdiccion %}
      <option value="{{juris.nomjuris}}">{{juris.nomjuris}}</option>
      {% endfor %}
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="localidad">Localidad:</label>  
  <div class="col-md-8">
  <input id="localidad" name="localidad" placeholder="ingresar localidad" class="form-control input-md" required="" type="text">
  <span class="help-block">ej.: Capital</span>  
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Aceptar</button>
  </div>
</div>

</fieldset>
</form>
          </div> 
          <div class="col-md-4">
          </div>
    </div>
</div> 

{% endblock %}